<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h3>Hello {{ user.first_name }}</h3>
    <ul>
        <li><a href="/create-workout">New Workout</a></li>
        <li><a href="">Past Workouts</a></li>
        <li><a href="">Account</a></li>
        <li><a href="">Logout</a></li>
    </ul>
    <h3>Past Workouts</h3>
</body>
</html>